SECRET_KEY=change-me
MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DB_NAME=khedmap
MONGO_TIMEOUT_MS=2000
AUTO_SEED=true
CORS_ORIGINS=http://localhost:8100,http://127.0.0.1:8100,http://localhost:4200,http://127.0.0.1:4200
